
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 330px;
  background-color: #d2e9fb;
  border-radius: 10px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
  filter: blur(2px);
}
.swiper-slide-active{
  filter: blur(0px);
  background-color: #ededed;
}
.swiper-slide-prev,
.swiper-slide-next
{
  background-image: none;
}
