.question_card{

        background: linear-gradient(45deg,rgb(17, 9, 83), rgb(54, 2, 102), rgb(4, 64, 114), rgb(73, 1, 114),rgb(17, 9, 83), rgb(54, 2, 102));
        background-size: 1000% 1000%;
        background-repeat: no-repeat;
        animation: colors 16s ease-in-out infinite;
    }

.selected_ans{
    background: linear-gradient(45deg,rgb(17, 9, 83), rgb(54, 2, 102), rgb(4, 64, 114), rgb(73, 1, 114),rgb(17, 9, 83), rgb(54, 2, 102));
        background-size: 1000% 1000%;
        background-repeat: no-repeat;
        animation: colors 30s ease-in-out infinite;
}
.progressBar{
    background: linear-gradient(45deg,rgb(17, 9, 83), rgb(54, 2, 102), rgb(4, 64, 114), rgb(73, 1, 114),rgb(17, 9, 83), rgb(54, 2, 102));
}


    @keyframes colors{
        0%{
            background-position: 0 50%;
        }
        50%{
            background-position: 100% 50%;
        }
        100%{
            background-position: 0 50%;
        }
    }
/* quiz buttons styles */
.btn_quiz{
    @apply md:mb-4 md:py-2 md:px-4 text-white  md:ml-4 p-1 m-1  btn
}